{% extends 'chat/index.html' %}

{% block body %}
        <div class="section blue lighten-3">
            <div class="container white-text center-align text">
            <h2>Chat Application</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <div class="section center-block">

    <p>You have successfully changed your password now click on login to access the site</p>
	<button class="btn blue waves-effect waves-light pull-s12"><a style="color:white" href="{% url 'chat:index' %}">Log in</a></button>
</div>
</div>
</div>
</div>
	
	

{% endblock %}
